<%= form_for(@data_migration) do |f| %>
  <% if @data_migration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_migration.errors.count, "error") %> prohibited this data_migration from being saved:</h2>

      <ul>
      <% @data_migration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <p><%= link_to_add_fields "Add Rule", f, :migration_rules %></p>

  <%= f.fields_for :migration_rules do |builder| %>
    <%= render "migration_rule_fields", :f => builder %>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

