<h1>Import#analyze</h1>
<p>Find me in app/views/import/analyze.html.erb</p>


Here are the tables in the temp database:
<br/>

<%= form_tag import_analyze_path, :method => 'get' do %>
  <p>
    <%= select_tag :temp_db_table, options_for_select(TempDb.get_tables, params[:temp_db_table]), :onchange => 'this.form.submit()' %>
  </p>
<% end %>


<% if @table_def %>
  <br>
  <h3>Table definition:</h3>
  <table>
    <tr>
      <th>Field</th> 
      <th>Type</th> 
      <th>Null</th>
      <th>Key</th>
      <th>Default</th> 
      <th>Extra</th>
    </tr>

  <% @table_def.each do |record| %>
    <tr>
      <% record.each do |content| %>
        <td>
          <%= content %>
        </td>
      <% end %>
    </tr> 
  <% end %>
  </table>

<% end %>




<% if @temp_db_data %>
  <br>
  <h3>Table data:</h3>
  <table>
    <% @temp_db_data.each_with_index do |record, i| %>  
      <% if i == 0 %>
        <!-- write out header row -->
        <tr>
          <% record.each do |key, value| %>
            <th><%= key %></th> 
          <% end %>
        </tr>
      <% end %>
      
      <tr>
        <% record.each do |key, value| %>
          <td><%= value %></td> 
        <% end %>
      </tr>    
    <% end %>

  </table>

<% end %>




<% if @temp_db_data %>
  <% @temp_db_data.each do |record| %>
    <% record.each do |key, value| %>
      <%= "key: #{key}" %><br>
      <%= "value: #{value}" %><br>
      <br><br>
    <% end %>
  <% end %>
<% end %>