
<%= form_tag import_analyze_path, :method => 'get' do %>
Source table from latest import:
    <%= select_tag :src_db_table, options_for_select(SourceDb.get_tables, params[:src_db_table]), :onchange => 'this.form.submit()', :prompt => 'Select a table' %>
<% end %>


<%= form_tag import_analyze_path, :method => 'get' do %>
Destination table:
    <%= select_tag :destination_db_table, options_for_select(DestinationDb.get_tables, params[:destination_db_table]), :onchange => 'this.form.submit()', :prompt => 'Select a table' %>
<% end %>


<% if @src_table_def %>
  <h3>Table definition:</h3>
  <table>
    <tr>
      <th>Field</th> 
      <th>Type</th> 
      <th>Null</th>
      <th>Key</th>
      <th>Default</th> 
      <th>Extra</th>
    </tr>

  <% @src_table_def.each do |record| %>
    <tr>
      <% record.each do |content| %>
        <td>
          <%= content %>
        </td>
      <% end %>
    </tr> 
  <% end %>
  </table>
<% end %>

<% if @src_db_data %>
  <br>
  <h3>Table data:</h3>
  <table>
    <% @src_db_data.each_with_index do |record, i| %>  
      <% if i == 0 %>
        <!-- write out header row -->
        <tr>
          <% record.each do |key, value| %>
            <th><%= key %></th> 
          <% end %>
        </tr>
      <% end %>
      
      <tr>
        <!-- write out data rows -->
        <% record.each do |key, value| %>
          <td><%= value %></td> 
        <% end %>
      </tr>    
    <% end %>

  </table>

<% end %>



<% if @destination_table_def %>
  <h3>Table definition:</h3>
  <table>
    <tr>
      <th>Field</th> 
      <th>Type</th> 
      <th>Null</th>
      <th>Key</th>
      <th>Default</th> 
      <th>Extra</th>
    </tr>

  <% @destination_table_def.each do |record| %>
    <tr>
      <% record.each do |content| %>
        <td>
          <%= content %>
        </td>
      <% end %>
    </tr> 
  <% end %>
  </table>
<% end %>

<% if @destination_db_data %>
  <br>
  <h3>Table data:</h3>
  <table>
    <% @destination_db_data.each_with_index do |record, i| %>  
      <% if i == 0 %>
        <!-- write out header row -->
        <tr>
          <% record.each do |key, value| %>
            <th><%= key %></th> 
          <% end %>
        </tr>
      <% end %>
      
      <tr>
        <% record.each do |key, value| %>
          <td><%= value %></td> 
        <% end %>
      </tr>    
    <% end %>

  </table>

<% end %>


